extends layout
block title 
    title Pet Profile 
block content 
    img(src="#{photo}" alt="photo" height="80px" width="80px") 
    h1 #{name}'s Profile 
    a(href="/profile/updatePetProfile/#{_id}")
        button Update 
    div owner: #{owner.name} #{owner.surname}
    div breed: #{breed}
    div weight: #{weight}
    div birthday: #{birthday.toDateString()}
    div sex: #{sex}
    h2 Appointments 
    table
        tr 
            td date  
            td lieu  
            td rapport 
            td vet  
        if appointment 
        div mawjoud 
            each app in appointment  
                tr
                    td #{app.date}
                    td #{app.lieu}
                    td #{app.rapport}
                    td #{app.vet}
                    td
                        a(href="/profile/petProfile/#{_id}/updateAppointment/#{app._id}") 
                            button update appointment 
                    td
                        a(href="/profile/petProfile/#{_id}/deleteAppointment/#{app._id}") 
                            button delete appointment 
    a(href="/profile/PetProfile/#{_id}/addAppointment")  
        button add new appointment   
    h2 Vaccines
    table
        tr 
            td nom   
            td date   
            td description  
            td vet   
        if vaccine.length > 0 
            each vaccin in vaccine  
                tr
                    td #{vaccin.nom}
                    td #{vaccin.date}
                    td #{vaccin.description}
                    td #{vaccin.vet}
                    td
                        a(href="/profile/petProfile/#{_id}/updateVaccine/#{vaccin._id}") 
                            button update vaccine 
                    td
                        a(href="/profile/petProfile/#{_id}/deleteVaccine/#{vaccin._id}") 
                            button delete vaccine 
    a(href="/profile/PetProfile/#{_id}/addVaccine")  
        button add new vaccine  
    h2 Food  
    table
        tr 
            td nom   
            td date   
            td quantite 
        if food.length > 0 
            each meal in food  
                tr
                    td #{meal.nom}
                    td #{meal.date}
                    td #{meal.quantite}
                    td
                        a(href="/profile/petProfile/#{_id}/updateFood/#{meal._id}") 
                            button update meal 
                    td
                        a(href="/profile/petProfile/#{_id}/deleteFood/#{meal._id}") 
                            button delete meal 
    a(href="/profile/PetProfile/#{_id}/addFood")  
        button add new meal
    h2 Bath 
    table
        tr 
            td date  
            td description  
        if bath.length > 0 
            each b in bath 
                tr
                    td #{b.date}
                    td #{b.description}
                    td
                        a(href="/profile/petProfile/#{_id}/updateBath/#{b._id}") 
                            button update bath
                    td
                        a(href="/profile/petProfile/#{_id}/deleteBath/#{b._id}") 
                            button delete bath 
    a(href="/profile/PetProfile/#{_id}/addBath")  
        button add new bath 
    h2 Other treatments  
    table
        tr 
            td type  
            td date  
            td description  
        if treatment.length > 0 
            each treat in treatment 
                tr
                    td #{treat.type}
                    td #{treat.date}
                    td #{treat.description}
                    td
                        a(href="/profile/petProfile/#{_id}/updateTreatment/#{treat._id}") 
                            button update treatment 
                    td
                        a(href="/profile/petProfile/#{_id}/deleteTreatment/#{treat._id}") 
                            button delete treatment 
    a(href="/profile/PetProfile/#{_id}/addTreatment")  
        button add new treatment
    
