extends layout
block title 
    title Profile 
block content 
    h1 Profile 
    img(src="#{avatar}" alt="avatar" height="80px" width="80px") 
    h2 Welcome to our site #{name}
    a(href="/updateProfile") 
        button update Infos
    div name: #{name}
    div surname: #{surname}
    div email: #{email}
    div adress: #{adress}
    div phone: #{phone}
    div birthday: #{birthday.toDateString()}
    div gender: #{gender}
    if role==="Pet Owner"
        a(href="/profile/myPets")
            button My pets 