extends layout
block title 
  title Update Profile 
block content
  h1 Update Profile 
  form(method="POST" action="/updateProfile" enctype="multipart/form-data")
    label(for="name") Name:
      input#name(type="text" name="name" required value="#{name}")
    br
    label(for="surname") Surname:
      input#surname(type="text" name="surname" required value="#{surname}")
    br
    label(for="email") Email:
      input#email(type="email" name="email" required value="#{email}")
    br
    label(for="avatar") Avatar : 
      input#avatar(type="file" name="avatar")
    br
    label(for="adress") Adress: 
      input#adress(type="text" name="adress" value="#{adress}")
    br
    label(for="phone") Phone Number: 
      input#phone(type="tel" name="phone" pattern="[0-9]{8}" required value="#{phone}")
    br
    button(type="submit") Update  